<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="designer" content="jiahui lao">
    <meta name="nickname" content="rkzai">
    <meta name="viewport" content="width=device-width,initial-scale=1" >
    <title>Chat Room Application</title>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/chatroom.css">
</head>

<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-home"></span>&nbsp;
                Username : <b id="username">{{user.username}}</b>
            </a>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-cog"></span>&nbsp;Setting
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a onclick="editInfo()">Edit Info</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Tips -->
<div class="tip">
    <h4> Carnegie Mellon University Chat Room  <span>00:00:00</span></h4>
    <h5> Tips: You can send private message to other users by clicking their usernames!</h5>
    <h5> Short Keys: Ctrl + Enter (Send message)</h5>
</div>


<div class="container">
    <div class="row mt15">

        <!-- Message group -->
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    &nbsp;Message
                </div>
                <div class="panel-body">
                    <div class="msg-list">

                    </div>
                </div>
            </div>
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" id="msgIn" placeholder="Please Input Message" onkeydown="keySend(event)">
					<span class="input-group-btn">
					<button type="button"class="btn btn-primary " onclick="sendMyMessage()">
                        Send
                        <span class="glyphicon glyphicon-send"></span>
                    </button>
					</span>
            </div>
        </div>

        <!-- User List group -->
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Online users
                </div>
                <div class="panel-body list-body">
                    <table class="table table-hover user-list">
                    </table>
                </div>
                <div class="panel-footer" id="list-count">

                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="panel-footer footer">
        Copyright &copy; JiaHui Lao (RkZai)<br>
        Email: jiahui.lao@west.cmu.edu
        Tel: 510-570-4395
    </div>
</div>

<!-- Edit Info modal -->
<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only"></span>
                </button>
                <h4 class="modal-title" id="myModal">Please edit your personal information.</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="alert alert-danger" role="alert" id="username-error" style="display:none" >
                            <span class="glyphicon glyphicon-remove"></span>Username has already exits!
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Username</span>
                            <input type="text" id="username-edit" class="form-control" placeholder="Please input your username:">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="setMyInfo()">Confirm</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/public/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/public/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/public/javascripts/client.js"></script>
</body>
</html>