<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css" media="screen">
	<style type="text/css">
	.m15{ margin: 15px;}
 	.tc{ text-align: center;font-size: 18px;font-weight: 600;}
	</style>
</head>
<body screen_capture_injected="true">
	<div class="container">
		<form class="col-sm-offset-4 col-sm-5 form-horizontal" role="form" method="post" onsubmit="return false">
			<fieldset>
				<legend></legend>
				<div class="panel panel-default">
				<div class="panel-heading">
					<p class="tc">Register</p>
				</div>
				<div class="panel-body m15">
				<div class="form-group">
					<p id="colWarning" class="text-align-center"></p>
					<div class="input-group">
						<span class="input-group-addon">
						<span class="glyphicon glyphicon-user"></span>
						</span>
						<input type="text" class="form-control" id="username" name="username" placeholder="Please input your username" required>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
						<span class="glyphicon glyphicon-lock"></span>
						</span>
						<input type="password" class="form-control" id="password" name="password" placeholder="Please input your password" required>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
						<span class="glyphicon glyphicon-lock"></span>
						</span>
						<input type="password" class="form-control" id="password1" name="password1" placeholder="Please input the same password again" required>
					</div>
				</div>
				<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block" id="register1">Sign Up</button>
				</div>
				<div class="form-group">
						<button type="button" class="btn btn-info col-sm-3 col-sm-offset-9" id="login1">Sign In</button>
				</div>
				</div>
				</div>
			</fieldset>
		</form>
	</div>

	<script type="text/javascript" src="/public/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="/public/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="/public/javascripts/register.js"></script>
</body>
</head>
</html>
