/**
 * Created by RkZai on 2017/8/3.
 */
body {
  padding: 0 50px 50px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.mt15{ margin-top: 15px;}
.list-body{position: relative;height: 320px;overflow-y: scroll;}
.user-list td:hover{cursor: pointer;}
.user-name{color: blue;}
.msg-list{position: relative;height: 470px;overflow-y: scroll;}
.msg-name,
.msg-time{ color: blue;}
.msg-name{cursor: pointer;}
.msg-wrap{margin-bottom: 8px;}
.msg-content{
	padding: 5px;
	text-indent: 2em;
	width: 90%;
	word-wrap:break-word;
	word-break:break-all;
	line-height: 25px;
}
.dropdown-menu li{ cursor: pointer;}
.msg-system{ background-color: sandybrown; padding: 3px;width: 60%;min-width: 400px;border: 3px solid lightgoldenrodyellow;border-radius: 10px;color: blanchedalmond;}