/**
 * Created by RkZai on 2017/8/3.
 */
.m15{ margin: 15px;}
.tc{ text-align: center;font-size: 18px;font-weight: 600;padding-top: 3px}
.warn{color:red;text-align:center;font-size: 14px;  font-weight:500;}